---
---

@import "{{ site.theme }}";
body {
    font-size: 125%;
}

.wrapper {
    width: unset;
    max-width: 1300px;
}

section {
    width: unset;
    min-width: 65%;
    max-width: 65%;
    font-family: Roboto, Ubuntu, Arial, sans-serif;
}